
.container {
    margin: 0rem 30rem ;
    padding: 0;
  }
  .signup-text {
    font-size: 1rem;
    margin: 0.1rem 0rem;
    text-align: center;
  }
  .already-member {
    text-align: center;
    margin: 0rem;
  }
  .already-member  span{
    color: #3c79a7;
    font-weight: bold;
    cursor: pointer;
  }
input {
    margin: 0rem;
    width: 100%;
    border: 0.01rem solid #ccc;
    border-radius: 0.25rem;
}

select {
    margin: 0rem;
    width: 100%;
    padding: 0.5rem;
    border: 0.01rem solid #ccc;
    border-radius: 0.25rem;
}

.form-group label {
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: block;
    font-weight: bold;
}

.form-group {
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: block;
    font-weight: bold;
}

.btn-group {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    font-size: 1rem;
    padding: 0.75rem;
    border: none;
    border-radius: 3rem; 
    cursor: pointer;
}

.submit-btn {
    background-color: #007bff; /* Set background color for primary button */
    color: #fff;
}

.reset-btn {
    background-color: #dc3545; /* Set background color for danger button */
    color: #fff; /* Set text color for danger button */
}
